public_subnet_1_cidr = "10.0.1.0/24"
public_subnet_2_cidr = "10.0.2.0/24"

private_subnet_1_cidr = "10.0.11.0/24"
private_subnet_2_cidr = "10.0.12.0/24"

public_subnet_1_az = "eu-west-3a"
public_subnet_2_az = "eu-west-3b"

private_subnet_1_az = "eu-west-3a"
private_subnet_2_az = "eu-west-3b"

mongo_root_username = "your-username"
mongo_root_password = "your-password"